/* --------------- Customized Materialize Styles ---------------*/
* {
	font-family: 'Quicksand', sans-serif;
}

header, main, footer {
  padding-left: 250px;
}



body {
	background: #EDEDED;
}

.header {
	font-family: 'Architects Daughter', cursive;
	color: #FF732E;
}

ul.sidenav {
	width: 250px;
	background: #393939;
}

ul.sidenav li{
}

ul.sidenav li:hover {
	background: #FF732E;
}

ul.sidenav li p{
	
}

ul.sidenav li a {
	color: #EDEDED;
	font-family: 'Quicksand', sans-serif;
	letter-spacing: 2px;
	font-size: 16px;
	
}

ul.sidenav li a:hover {
	color: #393939;
}

ul.sidenav li a i.material-icons {
	color: #EDEDED;
}

div.header {
	margin-top: 15vh;
}

nav {
	background:none;
	position:fixed;
	z-index: 1;
}

.collection {
	border:none;
}

.collection .collection-item {
	background: #EDEDED;
	color: #393939;
	
}

.btn-floating {
	position:fixed;
	top:10px;
	left:10px;
	background: #EDEDED;
}

.btn-floating:hover {
	background: #FF732E;
}

.card {
	margin: 1.25rem !important;
}

.card-title {
	color: #393939 !important;
	background: #EDEDED !important;
}

.cards-container {
  column-break-inside: avoid;
}

.cards-container .card {
  display: inline-block;
  overflow: visible;
}
/* --------------- Pixel Specific Styles ---------------*/

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

@media only screen and (max-width: 600px) {
  .cards-container {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }

  .viewport-fill {
	height:auto;
}
}

@media only screen and (min-width: 601px) {
  .cards-container {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}

@media only screen and (min-width: 993px) {
  .cards-container {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}



/* --------------- My Styles ---------------*/

.viewport-fill {
	min-height: 800px;
	height: 100vh;
}

.vertical-align {
	position:relative;
	top: 15vh;
}

.text-center {
  text-align: center;
}


